- provide :title_pipe, t( 'Home' )

.center.hero-unit
  %h1 Bienvenidos
  %h2 Esto es una página de acceso restringido de #{ link_to "Clínica Santa Cristina", 'http://www.clinicasantacristina.es' }
  = link_to "Acceso usuarios", "#", class: 'btn btn-large btn-primary'

= link_to image_tag( 'ssc-logo.png', alt: "Clínica Santa Cristina" ),
  'http://www.clinicasantacristina.es'
  
%p The time is now: #{ Time.now }